 <!--This is all about data binding -->
<app-product></app-product>

<div style="display: flex; justify-content: space-around;">
  <div>
    <h1>Interpolation</h1>
    <h2>Title: {{Product.title}}</h2>
    <h2>Price: {{Product.price}}</h2>
  </div>


  <div>
    <h1>Property Binding</h1>
    <button [style.height.px] ='btnHeight' [style.width.px]= 'btnWidth'  [style.color]= "btnColor"> App Product</button>
  </div>

  <div>
    <h1>Event Binding</h1>
    <button (click)="appProduct()">App Product</button>
  </div>

  <div>
    <h1>Event Binding + Property Binding</h1>
    <button [style.height.px] ='btnHeight' [style.width.px]= 'btnWidth'  [style.color]= "btnColor"  (click)="appProduct()">Click me </button>
  </div>
</div>


<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<div style="display: flex; justify-content: space-around;">
  <div>
    <h1>Two way data binding using ngModel</h1>
    <input type="text" [(ngModel)]="name"/>
    <h2>{{name}}</h2>
  </div>

  <div>
    <h1>Two way data binding without ngModel</h1>
    <input [value]="names" (input)="onInput($event)" />
    <h2>Hello {{names}}</h2>
  </div>
  
</div>